bin/*
obj/*
.*.swp
*.ncb
*.suo
*.Sunday.user
*.pyc
*.pyo
*.exe
*.dll
*.lnk
client_test/obj/*
client_test/bin/*
client_test/debug/*
pe_test_server/obj/*
pe_test_server/bin/*
python/.metadata
*.ppm
*.jpg
*.bmp
*.png
*.bak
*.pdb
*.idb
*.obj
*.ilk
*.dep
*.ttf
BuildLog.htm
wrap_for_py/dll/*
wrap_for_py/lib/*
wrap_for_py/obj/*


