<?xml version="1.0" ?>
<BITS>
	<demo>guangunionpay</demo>
	<bit idx="0" encode="BCD" fmt="fixed" length="4" dsc="mticode">0200</bit>
	<bit idx="1" encode="BIT" fmt="fixed" length="8">1234DFDF</bit>
	<bit idx="2" encode="ASC" fmt="fixed" length="4" dsc="hello">48234</bit>
	<bit idx="8" encode="ASC" fmt="lvar" length="30" dsc="user number">12342423</bit>
	<bit idx="32" encode="ASC" fmt="llvar" length="100"/>
	<bit idx="110" encode="ASC" fmt="llvar" length="100"/>
</BITS>

